<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
    <link href="~/Assets/client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="~/Assets/client/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="~/Assets/client/js/move-top.js"></script>
    <script type="text/javascript" src="~/Assets/client/js/easing.js"></script>

    <script src="~/Assets/client/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                @{ Html.RenderAction("TopMenu", "Home"); }
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/" ref="nofollow"><img src="~/Assets/client/images/logo1.png" style ="width:60px" alt="" /></a>
                </div>
                @{ Html.RenderAction("HeaderCart", "Home");}
                <script type="text/javascript">
                    function DropDown(el) {
                        this.dd = el;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function () {
                            var obj = this;

                            obj.dd.on('click', function (event) {
                                $(this).toggleClass('active');
                                event.stopPropagation();
                            });
                        }
                    }

                    $(function () {

                        var dd = new DropDown($('#dd'));

                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-2').removeClass('active');
                        });

                    });

                </script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                @{ Html.RenderAction("MainMenu", "Home"); }
                <div class="search_box">
                    <form action="/tim-kiem" method="get">
                        <input type="text" value="Search" name="keyword" placeholder="Gõ từ khoá tìm kiếm"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            @RenderSection("slide", required: false)

        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="newsletter">
        <div class="container">
            <div class="row">

                <!-- Newsletter Content -->
                <div class="col-xl-6">
                    <div class="newsletter_content">
                        <div class="section_title"><h1>Subscribe & Follow</h1></div>
                        <div class="newsletter_text">
                            <p>Theo dõi chúng tôi để nhận được những thông tin và ưu đãi mới nhất!.</p>
                        </div>
                    </div>
                </div>

                <!-- Newsletter Form -->
                <div class="col-xl-6 nl_col">
                    <div class="newsletter_form_container d-flex flex-column align-items-start justify-content-end" style="margin-top:-20px;">
                        <form action="#" class="newsletter_form" id="newsletter_form">
                            <div class="d-flex flex-row align-items-start justify-content-between">
                                <input type="email" class="newsletter_input" placeholder="Enter your email" required="required">
                                <button class="newsletter_button" style="background: linear-gradient(to right bottom, #fc31a1, #dc55f5, #31b); "><span>subscribe</span></button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @{ Html.RenderAction("Footer", "Home"); }

    @RenderSection("jsFooter", required: false);
</body>
</html>


