@model List<Model.EF.Menu>

<div class="call">
    <p><span>Need help?</span> call us <span class="number">0837153472</span></p>
</div>
<div class="account_desc">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
    </ul>
</div>

