@{
    ViewBag.Title = "Home Page";
}

<div id="page-content" class="home-page">
    <div>
        @Html.Partial("_Top4New", WebApplication3.Models.BUS.ShopOnlineBUS.Top4New())
    </div>
    @Html.Partial("_Top4New", WebApplication3.Models.BUS.ShopOnlineBUS.TopHot())
</div>