@model Model.EF.Contact
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter {
    <script src="~/Assets/client/js/controller/contactController.js"></script>
}
<div class="content">
    <h1>Liên hệ</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Thông tin liên hệ</h2>
                @Html.Raw(Model.Content)
                <h2>Gửi thông tin</h2>
                <form>
                    <div class="form-group">
                        <label>Họ Tên</label>
                        <input tyle="text" id="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện Thoại</label>
                        <input tyle="text" id="txtMobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa Chỉ</label>
                        <input tyle="text" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input tyle="text" id="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Yêu Cầu</label>
                        <textarea id="txtContent" class="form-control">

                        </textarea>
                    </div>
                    <button id="btnSend" class="btn btn-success">Gửi đi</button>
                </form>
            </div>
        </div>
    </div>
</div>

