<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 footer" id="footer">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold mb-4">CONTENT</h5>
                <p>Website used HTML,CSS and Boostrap</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold mb-4">ABOUT</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="https://utc2.edu.vn/">University</a>
                        </p>
                    </li>
                    <!-- <li>
                      <p>
                        <a href="#!">BLOG</a>
                      </p>
                    </li>
                    <li>
                      <p>
                        <a href="#!">AWARDS</a>
                      </p>
                    </li> -->
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold mb-4">ADDRESS</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i>450 Lê Văn Việt , Quận 9, Viet Nam
                        </p>
                    </li>
                    <!-- <li>
                      <p>
                        <i class="fas fa-envelope mr-3"></i> trandinhthao2000@gmail.com</p>
                    </li> -->
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> 0837 153 472
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold mb-4">FOLLOW ME</h5>
                <div class="row">
                    <!-- Facebook -->
                    <div class="col">
                        <a href="https://www.facebook.com/profile.php?id=100058422053540" type="button" class="btn-floating">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                    </div>

                    <!-- Twitter -->
                    <div class="col">
                        <a href="#" type="button" class="btn-floating">
                            <i class="fab fa-youtube-square fa-2x"></i>
                        </a>
                    </div>

                    <!-- Google +-->
                    <div class="col">
                        <a href="#" type="button" class="btn-floating">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>

                    <!-- Github -->
                    <div class="col">
                        <a href="https://github.com/trandinhthao2000" type="button" class="btn-floating">
                            <i class="fab fa-git-square fa-2x"></i>
                        </a>
                    </div>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 ">
        <a href="https://www.facebook.com/profile.php?id=100058422053540">Trần Đình Thảo</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="~/Asset/js/product/product.js"></script>